<?xml version="1.0"?>
<!--
/**
 * @author <mailto:info@18thdigitech.com>
 * @copyright Copyright (c) 2023 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_HelloWorld
 * @link https://www.18thdigitech.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Eighteentech_Base::base">
                    <resource id="Eighteentech_HelloWorld::main" title="Hello World" sortOrder="10" >
                        <resource id="Eighteentech_HelloWorld::index" title="Controller" sortOrder="10" />
                        <resource id="Eighteentech_HelloWorld::configuration" title="Configuration" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
