<?xml version="1.0"?>
<!--
/**
 * @author <mailto:info@18thdigitech.com>
 * @copyright Copyright (c) 2023 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_HelloWorld
 * @link https://www.18thdigitech.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Eighteentech_HelloWorld" setup_version="1.0.0" >
        <sequence>
            <module name="Eighteentech_Base"/>
        </sequence>
  </module>
</config>
