<?xml version="1.0"?>
<!--
/**
 * @author <mailto:info@18thdigitech.com>
 * @copyright Copyright (c) 2023 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_Base
 * @link https://www.18thdigitech.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
         <add id="Eighteentech_HelloWorld::controller" title="Records" module="Eighteentech_HelloWorld" parent="Eighteentech_Base::base" sortOrder="5" action="helloworld/index/index" resource="Eighteentech_HelloWorld::base"/>
         
         <add id="Eighteentech_HelloWorld::configuration" title="Configuration" module="Eighteentech_HelloWorld" parent="Eighteentech_Base::base" sortOrder="10" action="adminhtml/system_config/edit/section/helloworld" resource="Eighteentech_HelloWorld::configuration"/>
    </menu>
</config>
